<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Fouad Aziz. It uses data from the positionstack and openweather apis.</p>
        <img class="portrait" src="/img/Lanqiuuu_a_raven_in_heaven_and_hell_767466f4-6907-4f79-b96b-96fb8a153161.png">
    </div>
    
    {{>footer}}
</body>

</html>